@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:500|Source+Serif+Pro:700,400);

@font-face {
	font-family: 'Warehouse Gothic';
	src:  url('../../fonts/WarehouseGothic1.1.3-Rg.woff') format('woff');
	font-weight: 400;
}

// @font-face {
// 	font-family: 'Warehouse Gothic';
// 	src:  url('../../fonts/WarehouseSquare1.1.2-RgIt.woff') format('woff');
// 	font-weight: 400;
// 	font-style: italic;
// }

@font-face {
	font-family: 'Warehouse Gothic';
	src:  url('../../fonts/WarehouseSquare1.1.2-MdIt.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Warehouse Gothic';
	src:  url('../../fonts/WarehouseGothic1.1.3-Bd.woff') format('woff');
	font-weight: 600;
}






body {
	font-family: 'Warehouse Gothic', sans-serif;
}

article {
	padding: 1em;
}


h1 {
	font-size: 2em;
	font-weight: bold;
	color: $red;
	// transform: scale(1,5);
}

p {
	line-height: 1.5em;
	margin-bottom: 1em;
}

em {
	font-family: 'Warehouse Gothic', sans-serif;
	font-style: italic;

}

.serif {
	font-family: 'Source Serif Pro', serif;
}

.code {
	font-family: 'Source Code Pro', monospace;
	line-height: 1.5em;
  // background-color: rgba($blue, .025);
	background-color: tint( $blue, 3% );
  color: blue;
  font-size: .9em;
  padding: .25em 1em .25em .5em;
  border: 1px solid blue;
  //border-top: 2px solid blue;
  border-left: 2em solid blue;


	&::before{
		content: "$";
		position: relative;
		left: -2.6em;
		// background-color: $blue;
		color: $white;
		padding: .5em 0em .5em 1em;
		margin-right: -1.6em;
	}
}

span.code {
	  padding: 0 .25em;
		border: 0px solid blue;

		&::before {
			content: none;
		}
}

span.response {
	@extend .code;
	color: $darkgray;
	background-color: tint( $blue, 5% );
}


pre{
	@extend .code;
}
