article {
  font-size: 1.25em;
  color: $darkgray;
  max-width: 700px;
  margin: 3em auto;

  section {
    margin-bottom: 2em;
  }

  .section-content{
    animation: fadein .75s;
  }

  h1{
    @extend body;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 5px solid $blue;
    margin-bottom: 1em;
    position: relative;
    // left: -1em;
  }

  #intro h1 {
    border-bottom: 0px;
    color: $blue;
  }



  em {
    @extend em;
    font-size: .9em;
    color: $blue;
  }
  h2 {
    @extend em;
    color: $red;
    font-size: 1.25em;
    margin: 1em auto -.5em;

    span{
      background-color: $red;
      color: $white;
      padding: .05em .25em;
    }
  }
}

.section-content {
  display: none;
}

input {
  position: absolute;
  left: -9999px;

  &:checked + label {
    /* awesome styles */
    // color: $white;
    &:hover{
      cursor: zoom-out;
    }
  }
  &:checked + label::before {
  /* styles for an "on" indicator */
    content: "Collapse";
  }

  &:checked ~ .section-content {
  /* styles for an "on" section*/
    display: block;
  }
}

label {
  float: right;
  // width: 100%;
  position: relative;
  top:-4.2em;
  @extend body;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .6em;
  color: $blue;

  &::before{
    content: "Expand";
  }

  &:hover{
    cursor: zoom-in;
  }
}

// @keyframes collapse {
//   from {
//     // transform: scaleY(1);
//     height: 100%;
//   }
//   to {
//     // transform: scaleY(0);
//     // display: none;
//     height: 0%;
//   }
// }
