article {
  font-size: 1.25em;
  color: $darkgray;
  max-width: 700px;
  margin: 3em auto;

  section {
    margin-bottom: 2em;
  }

  .section-content{
    animation: fadein .75s;
  }

  h1{
    @extend body;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 5px solid $blue;
    margin: 2em auto 1em;
    position: relative;
    // left: -1em;
  }

  #intro h1 {
    border-bottom: 0px;
    color: $blue;
  }



  em {
    @extend em;
    font-size: .9em;
    color: $blue;
  }
  h2 {
    @extend em;
    color: $red;
    font-size: 1.25em;
    margin: 2.5em auto -.5em;
    line-height: 1.5em;
    // position: relative;
    // left: -1em;

    // &::before{
    //   content: counter() //set it up if you reallly want to
    //   text-shadow: 1px 1px 3px #ff0000, -3px -1px 3px #0000ff, 4px 0px 3px #ff0000;
    //   color: $white;
    //   padding: .05em .25em;
    // }

    span{
      //background-color: $red;
      text-shadow: 1px 1px 3px #ff0000, -3px -1px 3px #0000ff, 4px 0px 3px #ff0000;
      color: $white;
      padding: .05em .25em;
    }
  }
  img {
    width: 100%;
    border: 1px solid $blue;
  }
}

.section-content {
  display: none;
}



label {
  float: right;
  // width: 100%;
  position: relative;
  top:-4.2em;
  @extend body;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .6em;
  color: $blue;
  transition: .25s ease;

  &::before{
    content: "Expand";
  }

  &:hover{
    cursor: zoom-in;
    color: $white;
    text-shadow:
      -1px -1px 5px $red,
      1px 1px 5px $red,
      1px 1px 5px $red;
    transition: .25s ease;
  }
}

input {
  position: absolute;
  left: -9999px;


  &:checked + label {
    /* awesome styles */
    // color: $white;
    transition: .25s ease;
    &:hover{
      cursor: zoom-out;
      color: $darkgray;
      transition: .25s ease;
    }
  }
  &:checked + label::before {
  /* styles for an "on" indicator */
    content: "Collapse";
  }

  &:checked ~ .section-content {
  /* styles for an "on" section*/
    display: block;
  }
}

// @keyframes collapse {
//   from {
//     // transform: scaleY(1);
//     height: 100%;
//   }
//   to {
//     // transform: scaleY(0);
//     // display: none;
//     height: 0%;
//   }
// }
