article {
  font-size: 1.25em;
  color: $darkgray;
  max-width: 700px;
  margin: 3em auto;

  section {
    margin-bottom: 2em;
  }

  .section-content{
    animation: fadein .75s;
  }

  h1{
    @extend body;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 5px solid $blue;
    margin-bottom: .5em;
  }

  em {
    @extend em;
    font-size: .9em;
    color: $blue;
  }

  label {
    float: right;
    // width: 100%;
    position: relative;
    top:-2.9em;
    @extend body;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .6em;
    color: $blue;

    &::before{
      content: "Expand";
    }
  }

  input {
    position: absolute;
    left: -9999px;


    // label::before {
    //   content: "Collapse";
    // }

    & ~ div.section-content {
      display: none;
    }

    &:checked + label {
      /* awesome styles */
      // color: $white;
    }
    &:checked + label::before {
    /* styles for an "on" indicator */
      content: "Collapse";


    }

    &:checked ~ div.section-content {
    /* styles for an "on" indicator */
      // color: $blue;
      display: block;
      animation: collapse .35s;
      animation-timing-function: ease-out;
    }
  }

}

// @keyframes collapse {
//   from {
//     // transform: scaleY(1);
//     height: 100%;
//   }
//   to {
//     // transform: scaleY(0);
//     // display: none;
//     height: 0%;
//   }
// }
