footer {
  width: 100%;
  height: 8em;
  background-color: $blue;
  text-align: center;
  padding: 1em 0;
  border-bottom: 3em solid $blue;
  position: relative;
  top: 2em;

  p{

    color: $white;
    opacity: .75;

    // text-shadow:
  	// 	0px 0px 10px $black,
    //   0px 0px 10px $black;

    &:first-of-type{
      @extend em;
    transform: scale(.75,6) translateY(.25em);
    letter-spacing: .2em;

    margin: 1em;
    }

    &:nth-of-type(2){
      margin: 4.8em auto 1em;
      color: $white;
    }


    a {
      // @extend em;
      color: $white;
      text-decoration: none;
      text-shadow:
    	 	1px 1px 10px $red,
        1px 1px 10px $red;

      &:hover {
        color: $red;
        text-shadow:
          -1px -1px 5px $white,
          -1px -1px 5px $white,
          1px 1px 5px $white,
          1px 1px 5px $white;
      }
    }
  }

}
