html {
	height: 100%;
	//intro animation
	animation-name: turnonlight;
	animation-duration: .75s;
	animation-timing-function: cubic-bezier(1.000, 0.000, 0.980, 0.185); /* custom */
}

#hero {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: 1em solid $blue;
	outline-offset: -2em;
	flex-wrap: wrap;
	// flex-direction: column;
	text-align: center;
	animation-name: turnonscale;
	animation-duration: .75s;
	animation-timing-function: cubic-bezier(1.000, 0.000, 0.980, 0.185); /* custom */




	div:first-child {
		flex-grow: 1;
		margin: 10% auto -10%;
		// height: 70vh;
		padding-top: 3em;
		max-width: 60%;

		@media screen and (max-width: 600px) {
			max-width: 75%;
			padding-top: 3em;
			margin-bottom: 0;
		}

		@media screen and (max-width: 350px) {
			padding-top: 3em;
			margin-bottom: 0;
		}

	}

	h1 {
		flex-grow: 1;
		// width: 100%;
		font-size: 2em;
		color: $white;
		outline: $blue;
		//text-decoration: underline;
  	transform: scale(1, 8) translateY(-.125em);
		margin: 3em auto;
		letter-spacing:.2em;
		text-shadow:
  		0px 0px .5px $blue,
  		0px 0px .5px $blue,
  		0px 0px .5px $blue,
  		0px 0px .5px $blue;
  		// 5px 1px $white,
  		// 10px 2px $blue;

  		&:after {
  			content: " ";
  			background-color: $blue;
  			width: 100%;
  			height: 1em;
  		}
			@media screen and (max-width: 1080px) {
				font-size: 1em;
				margin: 2em auto 3em;
			}

  		@media screen and (max-width: 600px) {
				color: $blue;
				text-shadow: none;
				//transform: scale(1, 12) translateY(-.125em);
				font-size: .75em;
				margin: 1em auto;
			}

			@media screen and (max-width: 350px) {
				font-size: .5em;
				transform: scale(1, 12);
				margin: 3em auto;
			}
	}

	h2 {
		flex-grow: 1;
		width: 70%;
		margin: -1em auto 1em ;
		// margin-bottom: 2em;
		color: $blue;
		font-size: 1.5em;
		line-height: 1.5em;
		font-weight: bold;
		// transform:scale(1.5,.75);


		em {
			font-size: 1.5em;
		}

		@media screen and (max-width: 1080px) {
			font-size: 1.25em;
			margin: auto;
			margin-bottom: 2em;
		}

		@media screen and (max-width: 600px) {
			font-size: 1em;
			margin: 2em auto 1em;
		}

		@media screen and (max-width: 350px) {
			font-size: 1em;
		}
	}

	p {
		font-weight: bold;
		color: $blue;
		max-width: 350px;
		margin: auto auto 1em;


		@media screen and (max-width: 600px) {
			font-size: .75em;

		}
	}

	.fadein {
		right: 0;
		animation: fadein 5s;

	}



	.plz-scroll {
		//width: 100%;
		margin: auto;
		height: 1em;
		flex-grow: 1;
		flex-basis: 100%;
		text-align: center;
		align-self: end;

		//bounce animation
		// position:relative;
		// top:-1em;
		// left:25%;
	}

	.bounce {
		//bounce animation
		position:relative;
		//top:1em;
		transform: translateY(-2em);
		opacity: 0;
		animation-name: bounce;
    animation-timing-function: ease-in;
		animation-duration: .5s;
		animation-delay: 1s;
		animation-iteration-count: infinite;
    	animation-direction: alternate;
    	// animation: bounceappear 5s;
	}




}

	@keyframes fadein {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}


	@keyframes bounce {
		from {
			transform: translateY(-1em);
			opacity: 0;

		}
		to {
			transform: translateY(0em);
			opacity: 1;

		}
	}

	@keyframes turnonlight {
		from {
			background-color: #000;
		}
		to {
			background-color: $white;
		}
	}

	@keyframes turnonscale {
		from {
			transform: scale(6,0);
			outline: 1em solid $white;
		}
		to {
			transform: scale(1,1);
			outline: 1em solid $blue;
		}
	}
